@layouts.main()
@slot('title')
Bantuan Page
@endslot

@slot('body')
<div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bantuan</h1>
                <p>Ini adalah halaman bantuan</p>
            </div>
        </div>
    </div>

</div>

@endslot

@end
