@layouts.main()
@slot('title')
Acara Page
@endslot

@slot('body')
<div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Acara</h1>
                <p>Ini adalah halaman acara</p>
            </div>
        </div>
    </div>  

</div>

@endslot

@end
